<a href="https://colab.research.google.com/github/akhil2630/python-tasks/blob/main/Python_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to sum all the items in a list.

In [ ]:
mylist=[1,3,7,8,9,10]
total=0
for i in mylist:
  total +=i
print(f"sum of all the elements in the list is :{total}")

sum of all the elements in the list is :38

2.Write a Python program to get the largest number from a list.

In [ ]:
mylist=[1,4,8,19,45,56]
largest =mylist[0]
for i in mylist:
  if(i>largest):
    largest=i
print(f"The largest number from the list is :{largest}")

The largest number from the list is :56

 3.Write a Python program to count the number of strings from a given list of strings.

In [ ]:
mylist=['abc', 'xyz', 'aba', '1221']
count=0
for string in mylist:
  if(len(string)>=2 and string[0]==string[-1] ):
    count +=1
print(f"The number of strings from the given list of strings is :{count} ")

The number of strings from the given list of strings is :2

4.Write a Python program to remove duplicates from a list.

In [ ]:
mylist=[1,2,1,3,4,3,5,6,7,7,8,9]
newmylist=[]
for i in mylist:
  if(i not in newmylist):
    newmylist.append(i)
print(f"The list without duplicates is :{newmylist}")

The list without duplicates is :[1, 2, 3, 4, 5, 6, 7, 8, 9]

5.Write a Python program to check if a list is empty or not.

In [ ]:
mylist=[]
if not mylist:
  print("The list is empty")
else:
  print("The list is not empty")

The list is empty

6.Write a Python program to filter the list if the length of the character is < 4

In [ ]:
mylist=['abc', 'xyz', 'aba', '1221']
newmylist=[i for i in mylist if(len(i)<4)]
print(f"The filtered list if the length of the character is < 4 is: {newmylist}")

The filtered list if the length of the character is < 4 is: ['abc', 'xyz', 'aba']

7..Write a Python program to find the second largest number in a list.

In [ ]:
mylist=[12,45,67,78,19,54,]
newmylist=mylist.copy()
newmylist.sort(reverse=True)
if(len(newmylist)<2):
  print("The list doesnot contain a second largest number")
else:
  print(f"The second largest number in the list is: {newmylist[1]}")

The second largest number in the list is: 67

8.Write a Python program to reverse a list at a specific location.

In [ ]:
mylist=[1,2,3,4,5,6]
location=int(input("Enter a location to reverse the list :"))
if (location<0 or location>=len(mylist)):
  print("invalid location")
else:
  newmylist1=mylist[:location+1]
  newmylist1.reverse()
  newmylist2=mylist[location+1:]
  newmylist3=newmylist1+newmylist2
print(f"List after reversing at the location {location} is : {newmylist3}")

Enter a location to reverse the list :2
List after reversing at the location 2 is : [3, 2, 1, 4, 5, 6]

9.Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
mylist=[1,2,3,2,1]
reversedlist=mylist.copy()
reversedlist.reverse();
if(mylist==reversedlist):
  print("TRUE")
else:
  print("FALSE")

TRUE

10.Write a Python a program to find the union and intersection of two lists.

In [ ]:
list1=[1,2,3,4,5,6]
list2=[2,4,8,9,12]
union=list(set(list1+list2))
intersection=[i for i in list1 if(i in list2)]
print(f"Union of the two list is : {union} ")
print(f"intersection of the two list is : {intersection} ")

Union of the two list is : [1, 2, 3, 4, 5, 6, 8, 9, 12]
intersection of the two list is : [2, 4]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
mydict={'a':5,
        'b':1,
        'c':3}
mydictasc=dict(sorted(mydict.items(),key=lambda item:item[1]))
mydictdec=dict(sorted(mydict.items(),key=lambda item:item[1],reverse=True))
print(f"The dictionary in ascending : {mydictasc}")
print(f"The dictionary in descending : {mydictdec}")

The dictionary in ascending : {'b': 1, 'c': 3, 'a': 5}
The dictionary in descending : {'a': 5, 'c': 3, 'b': 1}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [4]:
mydict={'a':1,'b':2,'c':3}
k=input("Enter the key to be searched in dictionary : ")
if k in mydict:
  print("The given key exists in dicitionary ")
else:
  print("The given key doesnot exists in dicitionary ")

Enter the key to be searched in dictionary : k
The given key doesnot exists in dicitionary

13.Write a Python program to sum all the values in a dictionary.

In [5]:
mydict={'a':1,'b':2,'c':3}
total=0
for i in mydict.values():
  total+=i
print(f"The sum of all the values in the dictionay is : {total}")

The sum of all the values in the dictionay is : 6

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [9]:
num=int(input("Enter a number :"))
if(num>=10):
  print("Entered number must be less than 10 ")
else:
  mydict={i:i*i for i in range(1,num+1)}
  print(f"The required dictionay is :{mydict}")

Enter a number :4
The required dictionay is :{1: 1, 2: 4, 3: 9, 4: 16}

15.Write a Python program to sort a given dictionary by key.

In [10]:
mydict={'z':1,'k':2,'p':3}
sorteddict={k:mydict[k] for k in sorted(mydict.keys())}
print(f"The sorted dictionary by key is :{sorteddict}")

The sorted dictionary by key is :{'k': 2, 'p': 3, 'z': 1}

16.Write a Python program to create a dictionary from a string.

In [13]:
string="learnpython"
mydict={}
for i in string:
  if(i in mydict):
    mydict[i]+=1
  else:
    mydict[i]=1
print(f"The dictionay from the string is :{mydict}")

The dictionay from the string is :{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17.Write a Python program to get the top three items in a shop.

In [16]:
shopitems={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
sorteditems=sorted(shopitems.items(),key=lambda item: item[1],reverse=True)
topthreeitems=sorteditems[:3]
print(f"The top three items in the shop is :{topthreeitems}")

The top three items in the shop is :[('item4', 55), ('item1', 45.5), ('item3', 41.3)]